﻿input[type="text"],[type="button"],
     [type="reset"],select
{
  outline:none;
}

input[type="text"]
{
  border:1px solid #ccc;
  padding:4px 5px;
  background:white;
  border-radius: 50px;
  text-align: center;     
}

input[type="button"],[type="reset"]
{
  display:block;
  margin-top:1em;
  padding:5px 15px;  
  font-weight:bold;
  color:#333;
  background:white;
  border:none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow:0 1px 1px white;
  margin-bottom:1em;
}

select
{
  width: 27px;
  height: 26px;
  border-radius: 10px;
  -webkit-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em
}
h1 
{
  text-align: center;
  color:white; /* Цвет заголовка */
  font-family: Georgia, Times, serif;  /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
}

html 
{
  background: url(7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body 
{
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 11pt; /* Размер основного шрифта в пунктах  */
  color:#FFEC8B; /* Цвет основного текста */ 
}


#notation_2,#notation_8,#notation_10,#notation_16
{
  display: inline-block;
  width: 140px;
  margin-right: 72%;
  float: right; 
}

span.tex
{
  line-height: 2;
}

pre.text
{
  color:#CDCDB4; 
  font-weight: normal; 
  font-size: 13pt; 
  text-align: left;
}