forma1{
    width:250px;
    margin:50px auto;
    padding:15px 20px;
    background:#f5f5f5;
    border-radius: 10px;
}

input[type="text"],[type="number"]{
    
    border:1px solid #ccc;
    padding:10px 10px;
    background:white;
    border-radius: 50px;
    outline:none;
    font-size: 30px; 
    margin: auto;          
}


input[type="button"],[type="submit"]{
    display:block;
    font-size: 20px; 
    margin-top:1em;
    padding:10px 40px;  
    font-weight:bold;
    color:#333;
    background:white;
    border:none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow:0 1px 1px white;
    outline:none;
}



h2 {
  text-align: auto;
  color:white; /* Цвет заголовка */
  font-family: Georgia, Times, serif;  /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  
}

html 
{
  background: url(7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 25px; /* Размер основного шрифта в пунктах  */
  color:#FFEC8B; /* Цвет основного текста */ 
  margin-left:450px;
 
}

